---
import Navbar from '@components/Navbar/Navbar.tsx'
import type { MetadataProps } from '../../@types'

const { langCode, title, desc } = Astro.props as MetadataProps
---

<!doctype html>
<html lang={langCode}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={desc} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="color-scheme" content="dark light" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <Navbar client:only="react" />
    <slot />
  </body>
</html>

<script>
  import 'preline/dist/preline.js'
</script>

<script is:inline>
  const html = document.querySelector('html')
  const isLightOrAuto =
    localStorage.getItem('hs_theme') === 'light' ||
    (localStorage.getItem('hs_theme') === 'auto' &&
      !window.matchMedia('(prefers-color-scheme: dark)').matches)
  const isDarkOrAuto =
    localStorage.getItem('hs_theme') === 'dark' ||
    (localStorage.getItem('hs_theme') === 'auto' &&
      window.matchMedia('(prefers-color-scheme: dark)').matches)

  if (isLightOrAuto && html.classList.contains('dark'))
    html.classList.remove('dark')
  else if (isDarkOrAuto && html.classList.contains('light'))
    html.classList.remove('light')
  else if (isDarkOrAuto && !html.classList.contains('dark'))
    html.classList.add('dark')
  else if (isLightOrAuto && !html.classList.contains('light'))
    html.classList.add('light')
</script>
